.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--color-bg-main);
}

.footer__flex-container {
  display: block;
  text-align: center;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;

    text-align: start;
  }
}

.footer__column:nth-child(2),
.footer__column:nth-child(3) {
  padding-top: 12px;
}

.footer-tablet-wrap {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
  }
}

.footer__title-social,
.footer__send-email-title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--color-main-3);
}

.footer__address {
  margin-top: 20px;

  line-height: 1.71;
}

.location {
  display: block;
  margin-bottom: 9px;

  color: var(--color-main-3);
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;

  transition-property: color;
  transition-duration: var(--trans-dur);
  transition-timing-function: var(--cub-buz);
}

.contacts__mail--footer,
.contacts__phone--footer {
  display: block;

  color: var(--color-main-3-transparent);
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.contacts__mail--footer {
  margin-bottom: 9px;
}

.footer-social {
  @media screen and (max-width: 767px) {
    margin-top: 60px;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
}

.footer__send-email {
  @media screen and (max-width: 767px) {
    margin-top: 60px;
  }
}

.socials__list--footer {
  display: flex;
  justify-content: center;

  @media screen and (min-width: 1200px) {
    justify-content: flex-start;
  }
}

.socials__item--footer {
  margin-right: 10px;
}

.socials__link--footer {
  background-color: var(--color-additional-1-transparent-1);
}

.socials__icon--footer {
  fill: var(--color-main-3);
}

.footer__send-email {
  display: flex;
  flex-direction: column;
}

.footer__send-email-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.footer__email-input {
  width: 358px;
  height: 50px;

  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: var(--color-main-3);
  background-color: var(--color-bg-main);
  border: 1px solid var(--color-additional-1-transparent-2);
  filter: drop-shadow(0px 4px 4px var(--color-additional-1-transparent));
  border-radius: 4px;

  transition-property: outline;
  transition-duration: var(--trans-dur);
  transition-timing-function: var(--cub-buz);

  &:hover,
  &:focus {
    outline: 1px solid var(--color-accent);
  }

  &::placeholder {
    color: var(--color-main-3-transparent);
  }
}

.footer__email-button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 28px;
  width: 200px;
  height: 50px;

  background: var(--color-accent);
  box-shadow: 0px 4px 4px var(--color-additional-1-transparent);
  border-radius: 4px;
  border: none;
  cursor: pointer;

  transition-property: transform;
  transition-duration: var(--trans-dur);
  transition-timing-function: var(--cub-buz);

  &:hover,
  &:focus {
    scale: 1.03;
  }
}

.footer__email-button-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--color-main-3);

  transition-property: scale;
  transition-duration: var(--trans-dur);
  transition-timing-function: var(--cub-buz);
}
