.projects-content {
  @include section;
}

.filter-list {
  justify-content: flex-start;
  --indent: 8px;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    justify-content: center;
    margin-bottom: 14px;
  }

  @media screen and (min-width: 1200px) {
    justify-content: center;
    margin-bottom: 34px;
  }
}

.filter-list__button {
  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  background: var(--color-bg-additional);
  border-radius: 4px;
  border: none;
  cursor: pointer;

  transition-property: color, background-color, box-shadow;
  transition-duration: var(--trans-dur);
  transition-timing-function: var(--cub-buz);

  &:hover,
  &:focus,
  &:active {
    color: var(--color-main-3);
    background-color: var(--color-accent);
    box-shadow: 0px 3px 1px var(--color-additional-shadow-4),
      0px 1px 2px var(--color-additional-shadow-5),
      0px 2px 2px var(--color-additional-shadow-1);
  }
}

.our-projects__item {
  --items: 1;
  width: 450px;
  box-sizing: border-box;

  transition-property: box-shadow;
  transition-duration: var(--trans-dur);
  transition-timing-function: var(--cub-buz);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px var(--color-additional-shadow-1),
      0px 4px 4px var(--color-additional-shadow-6),
      1px 4px 6px var(--color-additional-shadow-7);
  }

  &:hover .our-projects__overlay,
  &:focus .our-projects__overlay {
    transform: translateY(0);
  }

  @media screen and (min-width: 768px) {
    --items: 2;
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    --items: 3;
    width: 370px;
  }
}

.our-projects__link {
  text-decoration: none;
}

.our-projects__thumb {
  position: relative;
  overflow: hidden;
}

.our-projects__overlay {
  position: absolute;
  top: 0;
  left: 0;

  transform: translateY(100%);

  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  align-items: center;

  background-color: var(--color-bg-accent);

  transition: transform 250ms linear;

  user-select: none;
}

.our-projects__overlay-text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--color-main-3);
}

.our-projects__image {
  display: block;
}

.our-projects__container {
  padding: 20px 24px;

  border: 1px solid var(--color-additional-2);
  border-top: none;
}

.our-projects__title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-main-1);
}

.our-projects__filter-type {
  font-size: 16px;
  line-height: 1.88;
  color: var(--color-main-2);
}
