.work-photos {
  display: none;

  @include section;

  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.work-photos__item {
  --items: 3;
  position: relative;
}

.work-photos__image {
  width: 370px;
  display: block;
}

.overlay {
  position: absolute;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;

  background-color: var(--color-bg-overlay);
  user-select: none;
}

.overlay__text {
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--color-main-3);
}
