body {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: var(--color-main-1);
    background-color: var(--color-main-3);
}

img {
    display: block;
    min-width: 100%;
    height: auto;
}
